/* Roboto Mono; heading */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Roboto Condensed; body */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body { 
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible; 
}
/* Header */
header {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    background-color: #1c6e8c;
    border-radius: 20px;
}
#heading {
    display: flex;
    font-family: Roboto Mono, sans-serif, 'Times New Roman' , Times;
    justify-content: space-between;
    flex-grow: 1;
}
#heading
a {
    color: aquamarine;
}
#heading
a:hover {
    color: #1c6e8c;
    background-color: aquamarine;
}
#heading:last-child {
    padding-right: 0.7em;
}
/* Radio Buttons */
form {
    margin-top: 0.7em;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 600px) { 
    #heading
    a {
        color: aquamarine;
        font-size: clamp(10px, 15px, 25px);
    }    
    header 
    img {
        max-height: clamp(20px, 30px, 60px);
    }
}
/*-------------------------------------- PAGE ONE */
/* ABOUT ME */
#aboutMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.7em;
    max-width: 800px;
    margin-top: 1em;
    margin: 0 auto;
    padding: 0.5em;
    background-color: #D0CCD0;
    border-radius: 10px;
}
#aboutMe 
img {
    width: clamp(150px, 300px, 400px);
    border-radius: 10px;
}
#aboutMe
div 
h1 {
    font-family: Roboto Mono, sans-serif, 'Times New Roman' , Times;
    color: #274156;
}
#aboutMe
div 
p {
    font-family: Roboto Condensed, 'Arial Narrow', Arial;
    color: #274156;
}
@media screen and (max-width: 600px) {
    #aboutMe {
        flex-direction: column;
    }
    #aboutMe 
    img {
    width: clamp(100px, 200px, 300px);
    }
    #aboutMe
    div 
    h1 {
        font-size: 20px;
    }
    #aboutMe
    div 
    p {
        font-size: 15px;
    }  
}
/* SCROLL MENU */
#scrolling-menu {
    overflow-x: auto; 
    white-space: nowrap; 
  } 
#scroll-images-container {
    margin-top: 1em;
    display: flex; 
    flex-direction: row; 
    gap: 3em;
  }
#scroll-images-container
img {
    height: 300px;
}
#scrolling-menu::-webkit-scrollbar {
width: 0; 
}
#scrolling-menu::-webkit-scrollbar-thumb {
background-color: #605856;
border-radius: 10px; 
transition: transform 0.3s;
}
#scrolling-menu::-webkit-scrollbar-thumb:hover {
transform: scale(1.1); 
}
@media screen and (max-width: 600px) {
    #scroll-images-container
    img {
        height: 150px;
    }
}
/*-------------------------------------- PAGE TWO */
#pageTwo {
    display: none;
}
#companyName {
    text-align: center;
    margin: 0 auto;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-family: Roboto Mono, sans-serif, 'Times New Roman' , Times;
    background-color: #1c6e8c;
    color: aquamarine;
    max-width: 10em;
    border-radius: 20px;
}
#selectJob {
    margin-left: 1em;
    font-family: Roboto Condensed, 'Arial Narrow', Arial;
}
#selectjob
label {
    font-family: Roboto Mono, sans-serif, 'Times New Roman' , Times;
}
#imgNbullet {
    display: flex;
    flex-direction: row;
    margin: 1em;
    margin-top: 0;
    padding: 0.7em;
    background-color: #D0CCD0;
    border-radius: 10px;
}
#imgNbullet
img {
    max-height: 20em;
    border-radius: 10px;
}
#job-description
h1 {
    font-family: Roboto Mono, sans-serif, 'Times New Roman' , Times;
    margin: 0 auto;
    background-color: #1c6e8c;
    text-align: center;
    color: aquamarine;
    border-radius: 20px;
}
#job-description
h2 {
    margin-left: 5%;
    font-family: Roboto Mono, sans-serif, 'Times New Roman' , Times;
}
#job-description
p {
    font-family: Roboto Condensed, 'Arial Narrow', Arial;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #D0CCD0;
    border-radius: 5px;
    padding: 10px;
}
@media screen and (max-width: 750px) {
    #companyName {
        font-size: 20px;
    }
    #jobList {
        max-width: clamp(50px , 200px, 300px);
    }
    #job-description
    h1 {
        font-size: 20px;
    }
    #imgNbullet {
        flex-direction: column;
    }
    #imgNbullet 
    img {
        max-width: clamp(100px, 300px, 400px);
        margin: 0 auto;
    }
    #job-description
    h2 {
        font-size: 15px;
    }
    #job-description
    p {
        text-align: left;
    }
}
/*-------------------------------------- PAGE THREE */
#pageThree {
    display: none;
}
#educationGrid {
    display: grid;
    grid-template-areas: 
        "rowOne"
        "rowTwo"
        "rowThree";
}
.academicContainer {
    display: flex;
    flex-direction: column;
}
.academicContainer 
h2 {
    color: aquamarine;
    background-color: #274156;
    font-family: Roboto Mono, sans-serif, 'Times New Roman' , Times;
}
.classList {
    display: flex;
    flex-direction: column;
    background-color: #D0CCD0;
    font-family: Roboto Mono, sans-serif, 'Times New Roman' , Times;
    padding: 1em;
    border-radius: 30px;
}
.classList 
li {
    font-size: 20px;
    font-family: Roboto Condensed, 'Arial Narrow', Arial;
}
.classList 
p {
    font-size: 20px;
    font-family: Roboto Condensed, 'Arial Narrow', Arial;
}
@media screen and (max-width: 600px) {
    .academicContainer 
    h2 {
        font-size: 20px;
    }
}
/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    background-color: #1c6e8c;
    border-radius: 20px;
}
#footerLinks {
    display: flex;
    font-family: Roboto Mono, sans-serif, 'Times New Roman' , Times;
    justify-content: space-between;
    flex-grow: 1;
}
#footerLinks
a {
    color: aquamarine;
}
#footerLinks
a:hover {
    color: #1c6e8c;
    background-color: aquamarine;
}
#footerLinks:first-child {
    padding-left: 0.7em;
}
footer
img {
    justify-self: flex-end;
}
@media screen and (max-width: 600px) { 
    #footerLinks
    a {
        color: aquamarine;
        font-size: clamp(10px, 15px, 25px);
    }    
    footer 
    img {
        max-height: clamp(20px, 30px, 60px);
    }
}